<form action="#">
<h3>Ajax validation account </h3>
<ul>
	<li>Account:
		<input type="text" name="uname" id="uname" onchange="startRequest()" />
		<br/>
		<span id="span" style="color:#FF0000"></span>
	</li>
	<li>Pass&nbsp; &nbsp; &nbsp;word:
		<input type="password" name="upwd" id="upwd"/>
	</li>
	<li>
		<input type="button" name="Reg" id="Reg" value="Registe"/>
		&nbsp;&nbsp;
		<input type="button" name="Log" id="Log" value="Log in"/>
	</li>
</ul>
</form>

<script type="text/javascript">
	var xmlHttp;
	function createXMLHttpRequest()
	{
		try
		{
			xmlHttp=new ActiveXObject("Msxml2.XMLHTTP");
		}
		catch(e)
		{
			try
			{
				xmlHttp=new ActiveXObject("Microsoft.XMLHTTP");
			}		
			catch(oc)
			{
				xmlHttp=null;
			}
		}
		if(!xmlHttp && typeof XMLHttpRequest != "undefined")
		{
			xmlHttp=new XMLHttpRequest();
		}
		return xmlHttp;
	}

</script>
