/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@charset "UTF-8";

body {
        background-color:#CCCCCC;
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        margin:0 0;
}
h1, h2, h3 {
        font-weight:400;
        color:#000000;
        margin:0;
}
h1 {
        font-size:22px;
}
h2 {
        font-size:18px;
}
p, ul, ol {
        margin-top:0;
        line-height:140%;
        text-align: inherit;
}
a {
        color:#639CBF;
        text-decoration:none;
}
.list1 li {
        float:left;
        line-height:normal;
}
.list1 li img {
        margin:0 30px 30px 0;
}
.list1 li.alt img {
        margin-right:0;
}
#ul {
        list-style:none;
        line-height:normal;
        margin:0;
        padding:0;
}
#li {
        margin-bottom:0;
        padding:0 0 10px;
}
#li ul {
        margin:0;
}
#li {
        background:url(images/bullet.jpg) no-repeat left 13px;
        border-bottom:1px solid #E0E0E0;
        margin:10px;
        padding:10px 0;
}
#li a {
        font-weight:400;
        padding:0 0 0 20px;
        text-decoration:none;
}
#li a:hover {
        font-weight:420;
        color:#666;
        text-decoration:none;
}


.header {
        width:1000px;
        height:90px;
        background:#ffffff;
        font-size:12px;
        text-align:left;
        margin:0 auto;
        padding:0 30px;

}

#page {
        width:1000px;
        background:#FFFFFF;
        margin:0 auto;
        padding:30px;
}
#content {
        float:right;
        width:700px;
        background:#FFF;
        margin:0;
        padding:10px;
}


#left {
        float:left;
        width:400px;
        margin-left:2px;
        padding: 0px 10px 30px 0px;
        display:inline;
}


#right {
        float:right;
        width:200px;
        padding: 0px 20px 20px 20px;
        margin-top:10px;
        border-left: #FFF 2px solid;

}



#sidebar {
        float:left;
        width:250px;
        font-family:Arial, Helvetica, sans-serif;
        font-size:16px;
        background:#FFF;
}
#sidebar ul {
        list-style:none;
        line-height:normal;
        margin:0;
        padding:0;
}
#sidebar li {
        margin-bottom:0;
        padding:0 0 10px;
}
#sidebar li ul {
        margin:0;
}
#sidebar li li {
        background:url(images/bullet.jpg) no-repeat left 13px;
        border-bottom:1px solid #E0E0E0;
        margin:10px;
        padding:10px 0;
}
#sidebar li li a {
        font-weight:400;
        padding:0 0 0 20px;
}
#sidebar li li a:hover {
        font-weight:420;
        color:#666;
}
#sidebar p {
        line-height:10%;
        margin:0;
        padding:0 14px;
}
#sidebar h2 {
        height:30px;
        font-size:18px;
        font-weight:400;
        color:#000000;
        margin:0 0 10px;
        padding:6px 0 2px;
}
#sidebar a {
        text-align:left;
        text-decoration:none;
        color:#666;
}
.footer {
        width:1000px;
        height:20px;
        background:#fff;
        margin:1px auto;
        padding:10px;
}
#footer p {
        text-align:left;
        font-size:14px;
        margin:20px;
        border:0px;
        padding:0px;
}
#footer a {
        text-align:left;
        text-decoration:none;
        color:#666;
}
img {
        border:0;
        margin-top:.0em;
}

.button1, .button2 {float:right;background:url(images/button1_bg.gif) top repeat-x;font-size:16px;color:#fff;line-height:30px;text-decoration:none;text-transform:uppercase;font-weight:400;padding:0 20px;margin-left:10px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;behavior:url(js/PIE.htc);position:relative}
.button2 {background:url(images/button2_bg.gif) top repeat-x}
.button1:hover {background:#202225}
.button2:hover {background:#1f759b}
